<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello QuickstartLutece!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <header class="bd-navbar">
      <span><H2>Documentation Lutèce</H2></span>
    </header>

    <div class="container-fluid">

      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md3 col-xl-2 py-md-5 bd-sidebar"> 
          <b class="bd-toc-link">Introduction à Lutèce</b> 
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="<%= page_path(@conn, :show_intro) %>">Qu'est ce que Lutèce</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Les principes fondamentaux</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Les règles de nommages</a>
            </li>
          </ul>    
          <b class="bd-toc-link">Quickstart</b>   
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="<%= page_path(@conn, :show_create_plugin) %>">Créer une application Lutèce</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Front office - Xpage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Back office</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Les portlets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Webservices REST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Les daemons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Site</a>
            </li>
          </ul>
          <b class="bd-toc-link">Documentation</b>           
          <ul class="nav flex-column">           
            <li class="nav-item">
              <a class="nav-link active" href="#">Architecture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gestion de contenu - CMS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Générale (Logs, TU, i18n, validation)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Configuration avancée</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Gestions des droits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Gestion du cache</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Services (ContentService, HtmlService, LinkService)</a>
            </li>            
          </ul>    
          <b class="bd-toc-link">Plugins</b>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Liste des plugins</a>
            </li>
          </ul>    
        </div>
          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
      </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
