<div class="col-12 col-md-9 col-xl-8 py-5 pl-5 bd-content">

    <span class="text-primary"><h3>Créer une application Lutèce</h3></span>

    <p class="py-2">Le but de ce tutoriel est de réaliser une application Lutèce et de faire le tour des principales fonctionnalitées du framework.
        Celle-ci aura va une fois fini nous permettre de gérer une librairie.
    </p>

    <h4 class="text-info">Step1: Préparer son environement de dévelopement</h4>
    </br>
    <p>Vous aurez besoin de:</p>
    <ul>
      <li>Un JDK 8</li>
      <li>Maven 3.x, Git et SVN</li>
      <li>Un serveur MySQL 5.x et un Tomcat 8.x</li>
      <li>Votre editeur de code préféré</li>
    </ul>
    <br>
    <h4 class="text-info">Step2: Générer son plugin</h4>
    <p>Allez sur <a href="http://dev.lutece.paris.fr/site-demo/jsp/site/Portal.jsp?page=pluginwizard">http://dev.lutece.paris.fr/site-demo/jsp/site/Portal.jsp?page=pluginwizard</a></p>
    <div class="alert alert-warning" role="alert">
      Vous pouvez aussi cloner le projet pluginwizard sur git-hub (<a href="https://github.com/lutece-platform/lutece-dev-plugin-pluginwizard">lien</a>) et le lancer en local
    </div>
    <br>
    <p><h5 class="text-danger">1- Création</h5></p>
    <p>Entrez le nom de votre plugin: Bookstore</p>
    <p>Screenshot</p>

    <p><h5 class="text-danger">2- Description</h5></p>
    <p>Compléter les informations sur votre plugin</p>
    <p>Screenshot</p>

    <p>Passez tous les autres étapes pour le moment nous y reviendront plus tard et allez directement à Génération</p>

    <p><h5 class="text-danger">3- Génération</h5></p>
    <p>Compléter les informations sur votre plugin</p>
    <p>Screenshot</p>

    <p>Sauvegarder l'archive sur votre poste et la décompresser sur votre poste dans le répertoire de votre choix</p>

    <br>
    <h4 class="text-info">Step3: Initier la base de donnée</h4>
    <br>
    <p>Aller dans le répertoire plugin-bookstore et lancer la commande :</p>
    <pre class="alert alert-secondary">mvn clean lutece:exploded</pre>

    <p>Editer le fichier <code>db.properties</code> dans <code>target/lutece/WEB-INF/conf/db.properties</code>
    <pre class="alert alert-secondary">portal.url=jdbc:mysql://localhost/bookstore?autoReconnect=true&useUnicode=yes&characterEncoding=utf8
portal.user=root
portal.password=motdepasse
    </pre>
    <p>Sauvegarder le fichier mise à jour dans un nouveau répertoire <code>src/conf/default/WEB-INF/conf/</code>

    <p>Exécuter le build ANT <code>target/lutece/WEB-INF/sql/build.xml</code> soit depuis votre IDE soit directement en ligne de commande :</p>
    <pre class="alert alert-secondary">ant -f build.xml</pre>

    <br>
    <h4 class="text-info">Step4: Lancer l'application</h4>
    <br>

    <p>Déployer le répertoire <code>target/lutèce</code><p>
    <p>Ouvrir votre navigateur et allez sur <code>http://localhost:8080/example/</code> pour vérifier que l'application tourne bien</p>

    <p>Il nous reste une derniere petite étape, activer notre plugin dans le back-office</p>
    <p>Aller sur <code>http://localhost:8080/bookstore/jsp/admin/AdminLogin.jsp</code>, le compte par défaut est <code>admin / adminadmin</code>

    <p>Une fois connectée aller dans le menu <code>Système > Gestion des Plugin</code> et activer le plugin <code>bookstore</code>

<div>
