/* This file is for your main application css. */

$fa-font-path: "../fonts";
@import "font-awesome";
@import "bootstrap";
@import "custom";
//
// Header
header {
    color: white;
    text-align: center!important;
    padding: 0.5rem 1rem;
}

//
// Main navbar
//
.bd-navbar {
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
    @include media-breakpoint-down(md) {
        padding-right: .5rem;
        padding-left: .5rem;
        .navbar-nav-scroll {
            max-width: 100%;
            height: 2.5rem;
            margin-top: .25rem;
            overflow: hidden;
            font-size: .875rem;
            .navbar-nav {
                padding-bottom: 2rem;
                overflow-x: auto;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }
        }
    }
}

.bd-sidebar {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.bd-toc-link {
    display: block;
    color: rgba(0, 0, 0, .65);
    padding: .25rem 0.5rem;
    font-weight: bold;
}

.nav-link {
    color: rgba(0, 0, 0, .65);
}